.images5-layout {
    display: grid;
    max-width: 1139px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 119px);
    grid-gap: 15px 31px;
    margin: 0 auto;
}

.images5-layout:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
}