@import url(./blocks/contact-menu/contact-menu.css);
@import url(./blocks/extra-menu/extra-menu.css);
@import url(./blocks/general-menu/general-menu.css);
@import url(./blocks/header/header.css);
@import url(./blocks/right-menu/right-menu.css);
@import url(./blocks/banner-info/banner-info.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/card-accessories/card-accessories.css);
@import url(./blocks/images8-layout/images8-layout.css);
@import url(./blocks/card-5-layout/card-5-layout.css);
@import url(./blocks/images5-layout/images5-layout.css);
@import url(./blocks/card-1-layout/card-1-layout.css);
@import url(./blocks/pre-footer/pre-footer.css);
@import url(./blocks/email/email.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



